<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">

                <div class="text-left text-uppercase word">
                    {{card.word.text}}
                </div>

                <div class="text-left ">
                    {{card.word.definition}} <br />
                    <p class="italic b">{{card.word.speechPart.name}}</p>
                </div>
                <!--<div class="col-lg-4">
                    <input type="text" class="form-control" id="answer" [(ngModel)]="answer" name="answer">
                </div>-->
                <carddetail [card]="card"></carddetail>
            </form>
        </div>
    </div>
</div>