<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">
                
                <div class="form-group">
                    <div class="text-left col-lg-8">
                        {{answeredCard.wordDefinition}} <br />
                        <p class="italic bracket">{{answeredCard.speechPart}}</p>
                    </div>
                    <div class="col-lg-4 has-feedback">
                        <input type="text" class="form-control" id="answer" [(ngModel)]="answeredCard.answer" name="answer">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>