<div class="container">

    <form (ngSubmit)="signIn()" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" [(ngModel)]="signInCredentials.email" name="email" class="form-control" placeholder="E-Mail" id="inputEmail" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" [(ngModel)]="signInCredentials.password" name="password" class="form-control" placeholder="Password" id="inputPassword">
        <div class="checkbox">
            <label>
                <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form>
</div>
